body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

.header {
    background: #3498db;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: white;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    width: 70px;
}

.hero {
    margin: 40px 0;
}

.productos .grid {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    border: 2px solid #3498db;
    padding: 15px;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    background: #3498db;
    border: none;
    padding: 8px;
    width: 100%;
    color: white;
    cursor: pointer;
}

.formulario {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input, .formulario textarea {
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
}
